# .clang-format
---
BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: Empty
AccessModifierOffset: -4
BreakBeforeBraces: Linux
ColumnLimit: 0
FixNamespaceComments: false
IndentWidth: 4
NamespaceIndentation: All
TabWidth: 4
