---
Checks: '-*,
         clang-*,
         bugprone-*,
         cppcoreguidelines-*,
         modernize-*,
         performance-*,
         -modernize-use-nodiscard,
         -cppcoreguidelines-pro-type-vararg,
         -modernize-use-trailing-return-type,
         -bugprone-exception-escape'

HeaderFilterRegex: 'include/svm_classifier/*.hpp'
WarningsAsErrors: ''
FormatStyle: file
...
