---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations:
  PadOperators: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
BinPackParameters: false
ColumnLimit: 120
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^".*\.hpp"
    Priority: 1
  - Regex: ^<(cmath|iostream|stdexcept)>
    Priority: 2
  - Regex: ^<.*>
    Priority: 3
  - Regex: ^"(linear|svm)\.h"
    Priority: 4
  - Regex: .*
    Priority: 5
IndentWidth: 4
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
ReferenceAlignment: Left
SortUsingDeclarations: true
SpaceBeforeCpp11BracedList: true
SpacesInAngles: false
Standard: c++17
TabWidth: 4
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
KeepEmptyLinesAtTheStartOfBlocks: false